* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 50px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container{
    margin: 50px;
  }

  .title1 {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: #333;
  }